
.App {
  //background-image: url("./img/schibspy_tlo.png");
  background-size: cover;
  height: 100vh;
}
.container {
  max-width: 576px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  height: 100%;
}
