.winners {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
}

.winners__card {
    background-color: #fff9ec;
    width: 60%;
    height: 60%;
    border-radius: 0.5rem;
    margin: 0;
    padding: 1rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
}

.winners__winner {
    margin-bottom: 1rem;
}

.winners__img-container {
    width: 100%;
    border-bottom: #e2dccd dotted 1px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.winners__container {
    overflow-y: scroll;
}

.winners__container::-webkit-scrollbar {
    width: 0 !important
}


