.winners {
    display:block;
    margin:auto;
}

.winners__card {
    background-color: #fff9ec;
    width: 70%;
    height: 40%;
    border-radius: 0.5rem;
    padding: 1rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.75rem;
}

.winners__winner {
    margin-bottom: 1rem;
}

.winners__img-container {
    width:100%;
    border-bottom: #e2dccd dotted 1px;
}

.winners__medal {
    margin: 0 auto 1rem;
    display:block;
}

.winners__container {
    overflow-y:scroll;
}

.winners__container::-webkit-scrollbar { width: 0 !important }


