.quiz {
  height: 100vh;
 //background-image: url("https://ocs-pl.oktawave.com/v1/AUTH_2887234e-384a-4873-8bc5-405211db13a2/spidersweb/2019/04/Quizzpy-1.png");
  background-size: cover;
  padding: 40px;

  &__question-number {
    text-align: center;
    margin-top: 70px;
  }

  &__timer {
    border-radius: 50%;
    background: coral;
    width: 30px;
    height: 30px;
    margin: 150px auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  &__question-panel {
    margin-top: 20px;
    padding: 20px;
    color: white;
    background: rgba(0,0,0,0.2);
    &__title {
      text-align: center;
    }

    .answers {
      &__answer {
        display: block;
        box-shadow: 1px 2px 2px grey;
        border-radius: 25px;
        padding: 15px;
        margin: 20px auto;
        background-color: white;
        color: black;
        cursor: pointer;

        &--is-chosen {
          background-color: #928db8;

        }

        &--is-correct {
          background-color: #20a55f;

        }

        &--is-wrong {
          background-color: #ff5631;
        }
      }
    }
  }
}