.form {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.form__label {
    display: flex;
    flex-direction: column;
    font-size: 0.5rem;
    font-weight: bold;
    margin-bottom: 0.25rem;
}

.form__form-group {
    display: flex;
    flex-direction: column;
}

.form__input {
    margin-bottom: 1rem;
    border-radius: 0.25rem;
    border: darkgrey solid 1px;
}

.form__input:focus {
    outline: none;
}

.form__submit {
    height: 20%;
    border-radius: 0.25rem;
    border: dodgerblue solid 1px;
    background-color: dodgerblue;
    color: white;
    font-weight: bold;
    margin-left: 0.5rem;
    margin-bottom: 1rem;
    padding: 1px 7px;
}
