
.App {
  height: 100vh;
}

.container {
  max-width: 56.25vh;
  width: 100vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  height: 100%;


}

.background {
  z-index: -100;
  background-image: url("../img/schibspy_tlo.png");
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}



