.timer {
    text-align: center;
    background: white;
    border-radius: 25px;
    padding: 20px;

    &__info {
        display: block;
        margin: 10px auto;
    }

    &__seconds-left {
        font-size: 100px;
    }
}
